<div class="mxtp-main">
        <h1 class="playlist-title"><%= @playlist.title.upcase %></h1>

        <div class="cassette-tape"><%= image_tag("cassette.svg") %></div>

        <div class="mxtp-player">
            <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:<%= @list_of_songs %>" frameborder="0" allowtransparency="true"></iframe>
        </div>

        <div class="mxtp-section">
                <% for song in @songs %>
                        <div class="song-listing">

                                <div class="song-details"><p><%= song.song_title %> by <%= song.artist_name %></p></div>
                                <!-- <div class="song-artist"><p>Artist: <%= song.artist_name %></p></div> -->
                                <div class="song-note-form">
                                <% if song.notes != nil %>
                                <div class="song-notes"><p><%= song.notes %></p></div>
                                <% else %>
                                  <%= form_for(song) do %>
                                    <%#= label_tag "Add Note:" %>
                                    <div class="mxtp-form-text"><%= text_area_tag :notes, "#{song.notes}" %></div>
                                    <%= submit_tag "Add Note", class: "mxtp-form-btn" %>
                                  <% end %>
                                <% end %>
                            <!-- <div class="mxtp-buttons"> -->
                                    <%= button_to "Delete Song", playlist_song_path(song), method: :delete, class: "mxtp-form-sml-btn-red" %>
                            <!-- </div> -->
                                </div>
                        </div>

                <% end %>
        </div>

        <div class="mxtp-section mxtp-buttons">
		<%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: :get %>
		<%= button_to "Home", root_path, method: :get, class: "mxtp-form-red-btn" %>
        </div>

        <!-- 
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3eMDxLX9JaTTIqyvk7rPfW" frameborder="0" allowtransparency="true"></iframe> -->
</div>

